<%- include ('../../partials/header.ejs') %> 

<%- include ('../../partials/navbar.ejs') %> 

<div class="container container-top">

    <h5>Listagem de categorias</h5>
    <a href="/admin/categories/new" class="btn btn-primary btn-sm">Nova categoria</a>
    <hr>

    <table class="table table-light table-bordered">
        <thead class="thead-light">
            <tr class="text-center">
                <th>#ID</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => { %>
            <tr>
                <td class="text-center"><%= category.id %> </td>
                <td><%= category.title %> </td>
                <td><%= category.slug %> </td>
                <td class="text-center">
                    <a href="/admin/categories/view/<%= category.id %>" title="Detalhes"><i class="fas fa-eye"></i></a> |
                    <a href="/admin/categories/edit/<%= category.id %>" title="Editar"><i class="fas fa-edit"></i></a>  |
                    <a href="/admin/categories/delete/<%= category.id %>" title="Excluir" class="delete_category"><i class="fas fa-eraser"></i></a>
                </td>
            </tr>
            <% }) %> 
        </tbody>        
    </table>

</div>

<%- include ('../../partials/footer.ejs') %> 

<script>
    $('.delete_category').click(function(e){
        e.preventDefault();
        var decision = confirm('Você realmente quer excluir esta categoria?');
        if (decision) {
            location.href = $(this).attr('href');
            //window.location.href = 'http://example.com';  <-javascript puro
        } else {
            console.log('não quer excluir');
        }
    });
</script>